.schedule-tab {
  // [data-type="action-bar"] {
  //   @media (pointer: coarse) {
  //     padding-left: 16px;
  //     padding-right: 16px;
  //   }
  // }

  // [data-type="action-bar"] {
  //   @media screen and (pointer: coarse) {
  //     padding-left: 16px;
  //     padding-right: 16px;
  //   }
  // }

  @media (min-width: 768px) {
    background: #f7fcff;
    // background: linear-gradient(360deg, rgba(246, 182, 19, 0.15) 6.87%, rgba(255, 133, 166, 0.15) 14.79%, rgba(152, 148, 255, 0.15) 22.84%, rgba(116, 172, 223, 0.15) 43.68%, rgba(238, 247, 255, 0.15) 54.97%);
  }
}
