# DevaBot AI API
NEXT_PUBLIC_DEVABOT_API_URL=http://localhost:3001

PRETALX_API_KEY=your_pretalx_api_key

# Devcon API (data provider)
DEVCON_API_URL=https://api.devcon.org
DEVCON_API_EVENT_ID=devcon-mumbai-playground
