@use 'assets/css/partials/index' as *;


.gradient-radial {  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(150deg, #7D52F4 20%, rgba(214, 212, 212, 0) 94%), radial-gradient(circle at 200% 200%, #4f1d84 10%, hsla(277, 63%, 49%, 0.679) 100%);
  mask-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 1) 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 1) 40%);
// overflow: hidden;
}

.background {
  mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 1) 100%);
  -webkit-mask-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 1) 40%);
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  [data-type='modal-container'] {
    height: auto !important;

    > * {
      padding: 0px !important;
    }
  }

  [data-type='modal-content'] {
    max-height: 569px;
    height: 569px !important;
    max-width: 386px;
    width: 386px !important;
  }

  // display: none;

  // @media (display-mode: browser) {
  //   display: flex;
  // }

  // .add-to-calendar-modal-content {
  //   color: black;

  //   padding: 32px;
  //   display: flex;
  //   flex-direction: column;

  //   p {
  //     margin-right: 32px;
  //   }

  //   > * {
  //     align-self: flex-start;
  //     margin-top: 16px;

  //     &:first-child {
  //       margin-top: 0px;
  //     }
  //   }
  // }
}