@import 'tailwindcss';

@source "../../../lib/**/*.{ts,tsx}";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #000000;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}
