.position-container {
    background: linear-gradient(to right, #3E318A, #377AB9, #f88ff5); 

    [data-type="swipe-to-scroll-container"] {
        height: 100% !important;
    }
}

.page-hero {
    color: white;
    --color-icon: white;
    overflow: hidden;
    // background: linear-gradient(to right, #3E318A, #377AB9, #f88ff5); 

    [data-type="page-hero-content"] {
        pointer-events: none;
        height: 600px !important;
        max-height: 75vh !important;

        @media (max-height: 400px) {
            height: auto !important;
            max-height: none !important;
        }
    }
}

.horizontal-container {
    // background: linear-gradient(to right, #3E318A, #377AB9, #F794F3);
    width: max-content;
}

.content {
    --custom-fade-color: rgb(202, 202, 255);
}

.drag-to-continue {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  
    @media (max-width: 500px) {
      bottom: 0px;
      width: 100%;
      border-bottom: none;
    }
  
    > p {
      margin-right: 4px;
  
      > span {
        &:nth-child(1) {
          display: inline-block;
  
          @media (hover: none) {
            display: none;
          }
        }
  
        &:nth-child(2) {
          display: none;
  
          @media (hover: none) {
            display: inline-block;
          }
        }
      }
    }

    --text-color: white; // rgb(228, 86, 102);
    --color-icon: white; // rgb(228, 86, 102);;
  
    // .circle-arrow-right-icon {
    //   --text-color: rgb(228, 86, 102);
    // }
  
    > svg {
      &:not(.circle-arrow-right-icon) {
        @media (hover: none) {
          display: none;
        }
      }
  
      font-size: 1.1rem;
      margin-right: 8px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .mask-image {
    @media (max-width: 1000px) {
        position: absolute;
        max-width: 500px;
        bottom: 0;
        -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%);
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 100%);
    }
  }