.glass {
    border-radius: 52px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: linear-gradient(0deg, rgba(181, 181, 181, 0.15) 0%, rgba(255, 255, 255, 0.20) 100%), rgba(255, 255, 255, 0.30);
    box-shadow: 0 2px 8px 0 rgba(58, 54, 94, 0.15), 0 1px 1.5px 0 rgba(255, 255, 255, 0.30) inset;
    backdrop-filter: blur(3px);

    display: flex;
    padding: 4px 4px 4px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    height: 40px;

    input::placeholder {
        color: black;
    }
}