@use 'assets/css/partials/index' as *;

.header {
  position: relative;
}

.app {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  // padding-bottom: 120px; // Adjusting for fixed bottom nav overlaying content, and adding a bit of white space to indicate bottom was reached
  @include fonts-sm-fixed;

  &:before {
    content: '';
    display: block;
    z-index: -1;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background: linear-gradient(
      180deg,
      rgba(250, 249, 255, 0.56) 3.15%,
      rgba(237, 233, 255, 0.811) 33.62%,
      rgba(250, 249, 255, 0.39) 100%
    );
  }

  [data-type='header'] {
    @media (max-width: 767px) {
      background: linear-gradient(to right, #7a3aff, #633cff, #b04cd4) !important;
    }
  }

  [data-type='header'],
  :global(.header-color) {
    @media (max-width: 767px) {
      --color-icon: #fff !important;
      color: #fff !important;
    }
  }

  :global(.header-gradient) {
    // @media (min-width: 1000px) {
    //   background: linear-gradient(to right, transparent, #5b1acb, #1e00ff98, #633cff, #1e00ffab, transparent);
    // }
    @media (max-width: 999px) {
      // mask-image: linear-gradient(to bottom, black 20%, rgba(0, 0, 0, 0.561) 100%);

      background: linear-gradient(to right, #7a3aff, #633cff, #bc52f1) !important;
      // background: linear-gradient(to bottom, #000000, #00000000) !important;
    }
  }

  // :global(.page-background) {
  //   position: relative;
  //   &:before {
  //     content: '';
  //     display: block;
  //     z-index: -1;
  //     position: absolute;
  //     pointer-events: none;
  //     top: 0;
  //     left: 0;
  //     height: 100%;
  //     width: 100vw;
  //     background: linear-gradient(
  //       180deg,
  //       rgba(250, 249, 255, 0.56) 3.15%,
  //       rgba(237, 233, 255, 0.811) 33.62%,
  //       rgba(250, 249, 255, 0.39) 100%
  //     );
  //   }
  // }

  > h3,
  > button,
  > ul {
    margin-bottom: 20px;
  }

  > label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
  }

  > input {
    @include fonts-sm;
    color: $colors-monochrome-10;
    border: 1px solid $colors-monochrome-10;
    padding: $gaps-gap-1;
    margin-bottom: 10px;

    &:focus,
    &:active {
      outline: none;
    }
  }

  > a {
    text-decoration: underline;
  }

  > button:hover {
    background: $colors-monochrome-3;
  }

  :global(.glass) {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.465);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  :global(.glass-buttons) {
    background: rgba(255, 255, 255, 0.2);
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  :global(.bottom-glass) {
    mask-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.908) 15%);
    // background: rgba(221, 221, 221, 0.257);
    backdrop-filter: blur(6px);
  }
}

.header-hider {
  position: sticky;
  background: $colors-monochrome-1;
  border-bottom: 1px solid $colors-standard-border-color;
  top: var(--header-height);
  z-index: 20;

  header,
  :global(#header) {
    position: relative;

    :global(#header) {
      transition: opacity 0.3s linear;
    }
  }

  &.hide {
    :global(#header) {
      box-shadow: none;
    }
  }

  :global(#inline-nav) {
    position: sticky;
    top: var(--header-height);
  }
}
