.speaker-gradient {
  mask-image: linear-gradient(to bottom, transparent 55%, black 100%);
  background: #765ae4;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #765ae4;
  }
}

.speaker-gradient-2 {
  //   mask-image: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 80%);
  //   background: #5533dd;

  //   position: absolute;
  //   height: 50px;
  overflow: hidden;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, #765ae4 0%, transparent 100%); // #765ae42d 100%);
    //   backdrop-filter: blur(3px);
  }
}

.sticky-glass {
  backdrop-filter: blur(10px);
}
