.speaker-gradient {
  mask-image: linear-gradient(to bottom, transparent 60%, black 100%);
  background: #765ae4;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #765ae4;
  }
}
