[build]
  ignore = "if [ ${COMMIT_REF} == ${CACHED_COMMIT_REF} ] ; then false ; else git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF ../archive ../lib ; fi"
  command = "yarn build"
  publish = ".next"

[functions]
  included_files = ["src/data/**/*"]

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/archive"
  to = "/"
  status = 301
  force = true
