@import 'styles/variables.scss';

.background {
  z-index: -2;
  position: absolute;
  object-fit: cover;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(555deg, hsla(43, 88%, 52%, 1) 0%, hsla(43, 80%, 52%, 0) 70%),
    linear-gradient(315deg, hsla(297, 83%, 60%, 1) 10%, hsla(297, 83%, 60%, 0) 80%),
    linear-gradient(135deg, hsla(171, 100%, 52%, 1) 10%, hsla(171, 100%, 52%, 0) 80%),
    linear-gradient(225deg, hsla(240, 86%, 50%, 1) 100%, hsla(240, 86%, 47%, 0) 70%);
}

.city-guide-hero {
  [data-type="background"] {
    // background: #141420 !important;
    background: #98C4CB !important;
  }

  :global(.background-title) {
    @media(max-width: $screen-lg) {
      display: none;
    }
  }

  .hero-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    .hero-text {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
    }

    .items {
      padding-top: 40px;
      a {
        &:hover {
          text-decoration: underline;
        }

        display: block;
        text-transform: uppercase;
        margin-bottom: 1em;
      }
    }
  }
}

.city-guide {
  background: white;
  color: black;
  --icon-color: black;
  overflow: hidden;

  :global(.button) {
    [data-type="link-text"] {
      text-decoration: none;
      display: flex;
      align-items: center;
  
      svg {
        margin-right: 8px;
      }
    }
  }

  .general-info {
    border-top: 1px solid $standard-border-color;
    // margin-top: 16px;
    padding-top: 16px;
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-lg) {
      flex-direction: row;
    }

    .left {
      @media (min-width: $screen-lg) {
        padding-right: 60px;
      }

      .title {
        margin-bottom: 16px;
      }

      .details-1 {
        margin-bottom: 16px;
      }

      .call-to-action {
        display: flex;
        flex-direction: column;

        @media (min-width: $screen-md) {
          flex-direction: row;
        }

        > a {
          display: flex;
          // width: 200px;
          justify-content: space-between;
          margin-top: 8px;

          &:first-child {
            margin-right: 16px;
          }

          .pin {
            margin-right: 8px;
          }
        }
      }
    }

    .right {
      flex-shrink: 0;

      .quick-tips-header {
        display: none;
      }

      @media (min-width: $screen-lg) {
        flex-basis: 50%;

        .quick-tips-header {
          display: block;
        }
      }

      .list {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        // @include big-text;

        @media (min-width: $screen-lg) {
          margin-top: 0px;
        }

        .row {
          width: 100%;
          overflow: hidden;
          padding: 12px 8px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid $standard-border-color;

          &:last-child {
            border-bottom: none;
          }

          .left {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            --icon-color: #{$color-orange-2};

            .icon {

              display: none;
              font-size: 1.5em;

              @media (min-width: 400px) {
                display: block !important;
              }
            }

            > * {
              white-space: nowrap;
              &:first-child {
                margin-right: 12px;
              }
            }
          }

          .right {
            color: #{$color-orange-2};
            display: none;
            flex-shrink: 1;
            justify-content: flex-end;
            text-align: right;

            @media (min-width: $screen-sm) {
              display: flex !important;
            }
          }
        }
      }
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  // flex-wrap: wrap;

  .tab {
    cursor: pointer;
    margin-right: 48px;
    flex-shrink: 0;
    white-space: nowrap;

    color: $monochrome-6;

    &.always-toggled {
      color: $monochrome-10;
    }

    &:not(.always-toggled) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.map {
  position: relative;
  height: min(80vh, 550px);

  .title {
    pointer-events: none;
    color: black;
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0px;

    p {
      text-align: right;
    }
  }
}

.areas-to-stay {
  .image {
    margin-top: 1em;
    position: relative;
    width: 164px;
    height: 164px;

    @media (min-width: $screen-md) {
      margin-top: 0px;
    }
  }
}


.plan-your-travels {
  .airports {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
    --icon-color: #{$color-orange-2};

    > div {
      position: relative;

      > a {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
      }
    }

    .taxi-link {
      z-index: 2;
    } 

    svg {
      margin-right: 8px;
      font-size: 22px;
    }

    .header {
      display: flex;
      justify-content: space-between;
    }

    .directions {
      display: flex;
      align-items: center;
    }

    > * {
      flex-shrink: 0;
      flex-grow: 1;
      border: 1px solid rgba(0, 0, 0, 0.20);
      border-top: 4px solid $color-orange-2;
      background: #F9F8FF;
      padding: 16px 16px;
      display: flex;
      flex-direction: column;

      &:hover {
        border-top: 4px solid black;
      }
    }
  }
}

.experience-the-city {
  position: relative;

  .tweets {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 16px;

    > * {
      width: min(300px, 80%) !important;
      max-width: 100% !important;
    }
  }


  :global(.button) {
    [data-type="link-text"] {
      text-decoration: none;
      display: flex;
      align-items: center;
  
      svg {
        margin-right: 8px;
      }
    }
  }

}

.getting-around {
  .areas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 12%;
    padding-right: 12%;

    @media (max-width: $screen-lg) {
      padding-left: 0%;
      padding-right: 0%;
    }

    .area {
      margin-bottom: 12px;
      border-bottom: 1px solid $standard-border-color;
      padding-bottom: 12px;

      &:last-child {
        border-bottom: none;
      }

      .title {
        margin-bottom: 8px;
      }
    }
  }
}

.history-and-culture {
  .media {
    margin-bottom: 16px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;

    .media-item {
      position: relative;
      width: max(20%, 400px);
      flex-shrink: 0;
      // flex-grow: 1;
      border: 1px solid $standard-border-color;
      display: flex;

      .image {
        flex-shrink: 0;
        height: 258px;
        width: 165px;
        min-height: 100%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .meta {
        padding: 12px;
        display: flex;
        height: 100%;
        flex-direction: column;

        > * {
          margin-top: 8px;

          &:last-child {
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
          }
        }
      }
    }
  }
}