.code-of-conduct {
    padding: 32px;
    color: black;
    overflow: auto;
  
    > :not(:global(.big-text)) {
      margin-bottom: 1em;
      margin-top: 0.5em;
    }
  
    li {
      margin-left: 1em;
    }
  }
  