.link {
  &:hover {
    [data-type='link-text'] {
      text-decoration: underline;
    }
  }

  .external-indicator {
    text-decoration: none;
    vertical-align: middle;
      display: inline-flex;
      align-items: center;

    .icon {
      font-size: 0.6em;
      position: relative;
      top: 0;
    }
  }
}
