@import 'styles/variables.scss';

.cards {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  margin-bottom: 16px;

  .card {
    height: 100%;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
    background: white;

    [data-type="link-text"] {
        text-decoration: none !important;
    }
  }
}
