@use 'global/tailwind.scss';
@use 'assets/css/partials/index' as *;
@use 'global/general';
@use 'global/buttons';
@use 'global/list';
@use 'global/labels';
@use 'global/gaps';
@use 'global/fonts';
@use 'global/markdown';
@use 'global/icons';
@use 'global/layout';
@use 'global/colors';
@use 'global/page';
@use 'vendor/react-slick.scss';
@use 'vendor/react-toggle.scss';

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

html {
  position: relative;
  margin: 0 auto;
  font-family: $fonts-primary;
  color: $colors-main;
  scroll-behavior: smooth;

  // Scales entire app
  font-size: 16px;

  @media (max-width: $breakpoints-lg) {
    font-size: 14px;
  }

  @media (max-width: $breakpoints-md) {
    font-size: 12px;
  }
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  // @include fonts-md;

  // position: fixed;
  // left: 0;
  // top: 0;
  // right: 0;
  // bottom: 0;
  // touch-action: none;

  // :global(.inset-padding-bottom) {
  //   padding-bottom: calc(env(safe-area-inset-bottom, 0px) + 1rem);
  // }

  // :global(.inset-padding-top) {
  //   padding-top: env(safe-area-inset-top, 0px);
  //   // padding-top: env(safe-area-inset-top, 0px);
  // }
}

.inset-padding-top {
  padding-top: calc(env(safe-area-inset-top, 5px) - 5px);
}

.inset-padding-bottom {
  padding-bottom: calc(env(safe-area-inset-bottom, 20px) - 20px);
}
