.devcon-week {
  --custom-fade-color: #ffded9;
  --custom-text-color: rgb(146, 146, 146);

  [data-type="schedule-top-bar"] {
    display: none !important;
  }

  // :global {
  //   div#block-yui_3_17_2_1_1685838379094_5882 > div {
  //     overflow: hidden;
  //   }

  //   iframe[src*='maps/d'] {
  //     margin-top: -70px;
  //   }
  // }
}
