.map {
    background: hsla(0, 0%, 100%, .97);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    g[id='Icons'] {
        display: none;
    }

    g[id='Info'] {
        display: none;
    }
}

// .has-selection-or-hover {
//     :not(.highlighted):not(g) {
//         opacity: 0.5 !important;
//         stroke: black !important;
//         stroke-width: 2px !important;
//         transition: all 0.3s ease;
//     }
// }