.map {
    // background: hsla(0, 0%, 100%, .97);
    // backdrop-filter: blur(4px);
    // -webkit-backdrop-filter: blur(4px);

    g[id='Info'] {
        opacity: 0;
        transition: opacity 0.9s ease;
    }

    g[id='Icons'] {
        opacity: 0;
        transition: opacity 0.9s ease;
    }

    &.zoomed-in {
        g[id='Info'] {
            opacity: 1;
        }

        g[id='Icons'] {
            opacity: 1;
        }
    }


}

// .has-selection-or-hover {
//     :not(.highlighted):not(g) {
//         opacity: 0.5 !important;
//         stroke: black !important;
//         stroke-width: 2px !important;
//         transition: all 0.3s ease;
//     }
// }