.map {

    * {
        transition: opacity 0.5s ease, filter 0.5s ease;

        &:not([id]) {
            pointer-events: none;
        }

        pointer-events: auto;
    }

    // When not zoomed in, hide the info and icons and make them unclickable
    &:not(.zoomed-in) {
        g[id='Info'], g[id='Icons'] {
            opacity: 0;
            pointer-events: none !important;

            * {
                pointer-events: none !important;
            }
        }
    }

    // &.zoomed-in {
    //     g[id='Info'], g[id='Icons'] {
    //         opacity: 1;
    //         pointer-events: auto;
    //     }
    // }

    &.highlight-active {
        // :not(.highlighted) {
        //     transition: all 0.3s ease;
        //     // filter: saturate(0.3) brightness(0.7);
        //     scale: 0.9;
        // }

        .highlighted {
            border: 2px solid black;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        }

        // .highlighted {
        //     transition: filter 0.3s ease;
        //     filter: none !important;
        // }
    }
}

// .has-selection-or-hover {
//     :not(.highlighted):not(g) {
//         opacity: 0.5 !important;
//         stroke: black !important;
//         stroke-width: 2px !important;
//         transition: all 0.3s ease;
//     }
// }