.legal {
  overflow: auto;

  > :not(:global(.font-lg)) {
    margin-bottom: 1em;
    margin-top: 0.5em;
  }

  ul {
    list-style: disc;
    padding-left: 2em;
    margin-bottom: 1em;
  }

  ol {
    list-style: decimal;
    padding-left: 2em;
    margin-bottom: 1em;
  }

  li {
    margin-left: 0;
    margin-bottom: 1em;
  }
}