[build] 
    ignore = "if [ ${COMMIT_REF} == ${CACHED_COMMIT_REF} ] ; then false ; else git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF ../devconnect ../lib ; fi"

[[edge_functions]]
  path = "/argentina/ticket/*"
  function = "ticket"

[[edge_functions]]
  path = "/api/ticket/*"
  function = "api-ticket"

[[headers]]
  for = "/argentina/ticket/*"
  [headers.values]
    Content-Encoding = "identity"
    Cache-Control = "no-store, no-cache, must-revalidate, proxy-revalidate"
    Pragma = "no-cache"
    Expires = "0"

[[headers]]
  for = "/api/ticket/*"
  [headers.values]
    Content-Encoding = "identity"

[[redirects]]
  from = "/host"
  to = "https://ef-events.notion.site/How-to-organize-an-event-during-Devconnect-4175048066254f48ae85679a35c94022"
  status = 302
  force = true

# 26th June 2023
[[redirects]]
  from = "/edition/amsterdam"
  to = "https://devconnect.org/amsterdam"
  status = 302
  force = true

# 26th June 2023
[[redirects]]
  from = "/edition/istanbul"
  to = "https://devconnect.org/istanbul"
  status = 302
  force = true

# 29 August 2025
[[redirects]]
  from = "/schedule"
  to = "https://devconnect.org/calendar"
  status = 302
  force = true

# beta
[[redirects]]
  from = "/beta"
  to = "https://ef-events.notion.site/Devconnect-App-Beta-Testing-Guide-Public-2a0638cdc415813eb2f8cb5072a085ce"
  status = 302
  force = true

# faq
[[redirects]]
  from = "/faq"
  to = "https://ef-events.notion.site/Devconnect-App-Support-FAQ-29d638cdc41580ff88a7c7d43b19b0fe"
  status = 302
  force = true

[build.environment]
PNPM_FLAGS = "--filter devconnect..."
