.team-col {
  background: yellow;
}

.event-table {
  --table-row-background: none;
  --table-row-hover-background: #232334;
  --table-header-background: none;
  --icon-color: white;
  --table-header-color: #f3a24a;
  --table-row-background-even: #36364c;
}
